* {
  font-family: 'Montserrat', sans-serif;
}

body {
  /*background-image: url('../media/prueba\ fondo.HEIC');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0; */
  background: url('../media/fondoplayita.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}
/*CSS MENU */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white; /*Color letra menu*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: transparent;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: transparent;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* TODO SOBRE EL PIE de PAGINA*/
.piepagina {
  position: fixed;
  left: 0;
  top: 100;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: rgb(46, 46, 46);
  color: #333;
  text-align: center;
}

.sm a {
  display: inline-block;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #f5f5f5;
  margin: 0 16px;
  transition: 0.4s linear;
  position: relative;
}

.sm a::before,
.sm a::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.4s linear;
}

.sm a:hover {
  transform: scale(0.8);
}

.sm a:hover::before {
  border-left: 4px solid;
  border-right: 4px solid;
  transform: skewX(20deg);
}

.sm a:hover::after {
  border-top: 4px solid;
  border-bottom: 4px solid;
  transform: skewY(-20deg);
}

/*TARJETAS */
.title {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  margin-top: 100px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.container .card {
  width: 20%; /* Esto es el ancho de la tarjeta*/
  height: 480px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color: rgba(0, 0, 0, 0.3);
}

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img {
  width: 230px; /* Esto es el ancho de la imagen de la tarjeta*/
  height: 120px;
}

.container .card h4 {
  font-weight: 600; /*El titulo de la tarjeta*/
  color: #f5f5f5;
}

.container .card p {
  padding: 0 1rem; /*El texto de la tarjeta*/
  font-size: 16px;
  font-weight: 300;
  color: #f5f5f5;
}

.container .card a {
  font-weight: 500; /* La letra del quiero conocerlo*/
  text-decoration: none;
  color: #ffffff;
}

.titulin {
  text-align: center;
}